<!DOCTYPE html>
<html lang="en">

<head>
	<title>TweetsSync | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>TweetsSync</h1>
		{% block containercontent %}{% endblock %}
		<hr>
		<div class="footer">
			<p class="text-muted"><small>Copyright 2022-present <a href="https://twitter.com/EterNomm" target="_blank" style="text-decoration:none;">EterNomm</a>. Not associated with Twitter.</small></p>
		</div>
	</div>
</body>

</html>
