{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block containercontent %}
<br>
<style>
	.avatar {
		border-radius: 50%;
	}
</style>
<img src="{{ pp_url }}" alt="{{ screen_name }} avatar" class="avatar">
<br>
<p>Welcome, <strong>{{ name }}</strong> (<a href="https://twitter.com/{{ screen_name }}" target="_blank" style="text-decoration:none;">@{{ screen_name }}</a>). 
	Click the Tweet button if you want to tweet something.
</p>
<p>Here, we have some basic information about your account :</p>
<ul>
	<li>Joined Twitter : <span class="label label-success">{{ join_date }}</span></li>
	<li>Total Tweeted : <span class="label label-success">{{ statuses_count }}</span></li>
	<li>Followers : <span class="label label-success">{{ followers_count }}</span></li>
	<li>Following : <span class="label label-success">{{ friends_count }}</span></li>
</ul>
<a href="/tweet" class="btn btn-small btn-primary">Tweet</a>
<a href="/logout" class="btn btn-small btn-primary">Log out</a>
{% endblock %}
